* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --color-green: #32a89d;
}

/************** Typography **************/
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-Regular.eot');
  src: url('/fonts/Barlow/Barlow-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
    url('/fonts/Barlow/Barlow-Regular.woff') format('woff'),
    url('/fonts/Barlow/Barlow-Regular.ttf') format('truetype'),
    url('/fonts/Barlow/Barlow-Regular.svg#Barlow-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-Medium.eot');
  src: url('/fonts/Barlow/Barlow-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Barlow/Barlow-Medium.woff2') format('woff2'),
    url('/fonts/Barlow/Barlow-Medium.woff') format('woff'),
    url('/fonts/Barlow/Barlow-Medium.ttf') format('truetype'),
    url('/fonts/Barlow/Barlow-Medium.svg#Barlow-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-SemiBold.eot');
  src: url('/fonts/Barlow/Barlow-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Barlow/Barlow-SemiBold.woff2') format('woff2'),
    url('/fonts/Barlow/Barlow-SemiBold.woff') format('woff'),
    url('/fonts/Barlow/Barlow-SemiBold.ttf') format('truetype'),
    url('/fonts/Barlow/Barlow-SemiBold.svg#Barlow-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-Bold.eot');
  src: url('/fonts/Barlow/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Barlow/Barlow-Bold.woff2') format('woff2'),
    url('/fonts/Barlow/Barlow-Bold.woff') format('woff'),
    url('/fonts/Barlow/Barlow-Bold.ttf') format('truetype'),
    url('/fonts/Barlow/Barlow-Bold.svg#Barlow-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  font-family: 'Barlow', serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  box-shadow: rgba(165, 173, 179, 0.4) 1px 1px 6px 0px;
  z-index: 1;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}

.logo span {
  color: var(--color-green);
}

main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

main > .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 800ms ease;
}

.panel.hide {
  transform: translateX(-100%);
}

.panel .selected-school {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  transition: opacity 800ms ease;
  padding: 1rem;
  overflow: scroll;
}

.panel .selected-school.show {
  opacity: 1;
}

.panel .selected-school button {
  padding: 0.5rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: unset;
  box-shadow: 0px 0px 10px 1px #00000020;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 400ms ease;
}

.panel .selected-school button:hover {
  transform: scale(1.08);
}

.panel .selected-school button img {
  width: 1rem;
  height: 1rem;
}

.panel .selected-school .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.panel .selected-school .links a {
  display: block;
  width: fit-content;
  transition: scale 300ms ease;
}

.panel .selected-school .links a:hover {
  scale: 1.12;
}

.panel .selected-school .links img {
  width: 45px;
  aspect-ratio: 1;
}

.panel-control {
  padding: 1rem;
}

.panel-control form {
  display: flex;
  gap: 10px;
}

.panel-control input#search {
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.panel-control input#search ::placeholder {
  color: #000;
  opacity: 1;
}

.panel-control button {
  padding: 0.3rem;
}

.panel-control button img {
  width: 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  min-width: 40vw;
  max-width: 60vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
}

.modal-content > button,
.modal-content .button-group {
  align-self: flex-end;
  background-color: unset;
  border: unset;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.modal-content .inputs {
  flex: 1;
}

.modal-content .button-group {
  display: flex;
  gap: 20px;
}

.modal-content .button-group button {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border: unset;
  border-radius: 5px;
  transition: transform 300ms ease;
  cursor: pointer;
}

.modal-content .button-group button:nth-child(2) {
  background-color: var(--color-green);
  color: #fff;
  font-weight: 600;
}

.modal-content .button-group button:hover {
  transform: scale(1.08);
}

.panel > .panel-data {
  flex: 1;
  overflow: scroll;
}

.panel-data li {
  padding: 1rem;
}

.panel-data li:nth-child(2n) {
  background-color: #eee;
}

.panel-data li:hover {
  background: #ccc;
  cursor: pointer;
}

main > .map {
  flex: 2;
}

.map {
  height: 100%;
  z-index: 1;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
